@font-face {
    font-family: "Oswald";
    src: url("../Assets/Fonts/Oswald/Oswald.ttf");
}
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../Assets/Fonts/Titillium-Web/TitilliumWeb-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../Assets/Fonts/Open-Sans/Different-Open-Sans/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../Assets/Fonts/Open-Sans/Different-Open-Sans/OpenSans/OpenSans-Regular.ttf");
}

.header_logo>.text__logo{
    font-family: "TitilliumWeb-Regular";
    font-size: 24px;
    line-height: 120%;
    color: white;
}
.header_nav>a{
    font-family: "OpenSans-SemiBold";
    font-size: 14px;
    color: white;
}
h1{
    font-family: "Oswald";
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1%;
    line-height: 72px;
    color: white;
}
.section-title{
    font-family: "Oswald";
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 5%;
    color: #343434;
}
.selecter_title{
    font-family: "Oswald";
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 5%;
    color: #343434;
}
.rent__title{
    font-family: "Oswald";
    font-weight: 400;
    font-size: 18px;
}
.equipment__description__title{
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
}
h4{
    font-family: "Oswald";
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 5%;
    color: white;
}
.news-title>h4{
    color: #343434;
}
.sub__block__text, .news-date{
    font-family: "OpenSans-Regular";
    font-size: 16px;
}
.button-txt{
    font-family: "OpenSans-SemiBold";
    font-size: 16px;
    letter-spacing: 5%;
}
.address, .email, .devoloper, .company, .equipment_item{
    font-family: "OpenSans-Regular";
    font-size: 14px;
}
.footer_item, .news-descriptions, .inside__text{
    font-family: "OpenSans-Regular";
    font-weight: 300;
    font-size: 14px;
}
.rent{
    font-family: "OpenSans-Regular";
    font-size: 18px;
}
.phone, .email, .address, .sub__block__text, .button-txt, .footer_item, .company, .devoloper{
    color: white;
}
.news-date{
    color: #979797;
}
.inside-text-project>h4{
    color: #343434;
}
