@font-face {
    font-family: "Oswald";
    src: url("../Assets/Fonts/Oswald/Oswald.ttf");
}
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../Assets/Fonts/Titillium-Web/TitilliumWeb-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../Assets/Fonts/Open-Sans/Different-Open-Sans/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../Assets/Fonts/Open-Sans/Different-Open-Sans/OpenSans/OpenSans-Regular.ttf");
}

.header_logo>.text__logo{
    font-family: "TitilliumWeb-Regular";
    font-size: 24px;
    line-height: 120%;
    color: white;
}
.header_nav>a{
    font-family: "OpenSans-SemiBold";
    font-size: 14px;
    color: white;
}
h1{
    font-family: "Oswald";
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1%;
    line-height: 72px;
    color: white;
}
.sub__block__text{
    font-family: "OpenSans-Regular";
    font-size: 16px;
    color: white;
}
.button-txt{
    font-family: "OpenSans-SemiBold";
    font-size: 16px;
    letter-spacing: 5%;
    color: white;  
}