.footer{
    flex: 0 0 auto;
    background-color: #005BC1;
    min-height: 255px;
    width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_row{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_row2{
    position: relative;
    display: inline-flex;
    flex-flow: column wrap;
    height: 48px;
    column-gap: 110px;
}
.footer_item{
    display: inline-block;
}
.footer-content-top{
    position: relative;
    margin-bottom: 50px;
}
.footer-content-botton{
    position: relative;
    margin-top: 50px;
}
.footer-content-top::after{
    position: absolute;
    content: "";
    bottom: -25px;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}
.footer-content-botton::before{
    position: absolute;
    content: "";
    top: -25px;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}



