.footer{
    flex: 0 0 auto;
    background-color: #005BC1;
    min-height: 255px;
    width: inherit;
}
.footer-body{
    display: flex;
    margin-top: 36px;
}
.footer-top, .footer-botton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top, .footer-middle-row ,.footer-botton{
    position: relative;
}
.footer-middle-row{
    margin: 50px 0px;
}
.footer-middle-info{
    display: inline-flex;
    flex-flow: column wrap;
    height: 48px;
    column-gap: 110px;
}
.footer_item{
    display: inline-block;
}
.footer-middle-row::before{
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}
.footer-middle-row::after{
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}