.main{
    flex: 1 0 auto;
}


.selecter-items{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 45px;
}
.section-news{
    display: flex;
    flex-flow: column nowrap;
}




/* label */

.labels{
    display: flex;
    gap: 2px;
}
.label-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border: 3px solid #005BC1;
}



/* Titles */

.title{
    display: flex;
    justify-content: space-between;
}
.title-box{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}
.lines{
    position: relative;
    width: 100px;
    height: 13px;
}
.line-top, .line-botton{
    position: absolute;
    height: 2px;
    background-color: #005BC1;
}
.line-top{
    width: 100%;
    left: 0;
    top: 0;
}
.line-botton{
    width: 50%;
    right: 0;
    bottom: 0;
}
.title-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 51px;
    background-color: #005BC1;
}
.title-button-body{

}

/* Projects */

.card-project{
    position: relative;
    width: 540px;
    height: 400px;
}
.img__project{
    filter: brightness(50%);
}
.card-inside-descriptin-project{
    position: absolute;
    padding: 20px 35px;
    right: 35px;
    bottom: 35px;
    max-width: 250px;
    min-height: 110px;
    background-color: white;
}
.inside-text-project{
    width: 200px;
}
.inside-text-project>h4{
    margin-bottom: 12px;
}

/* Cards */

.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    position: relative;
    width: 350px;
    height: 300px;
    border: 3px solid #005BC1;
}
.image-product{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.card-inside-descriptin{
    position: absolute;
    right: 0;
    bottom: 15px;
    display: flex;
    align-items: center;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
}
.inside-text{
    margin-left: 21px;
}
.selecter_title{
    position: relative;
    display: inline-block;
}
.selecter__title__active{
    color: #005BC1;
}
.selecter__title__active::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #005BC1;
}

/* Rent */
.rent-equipment-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rent_equipment_description{
    max-width: 350px;
    text-align: justify;
}
.rent-equipment-product{
    width: 605px;
    min-height: 334px;
    border: 3px solid #005BC1;
}
.rent-equipment-box{
    padding: 30px;
}
.rent-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}
.rent-equipment-box-content{
    display: flex;
    justify-content: space-between;
}
.equipment-image{
    width: 255px;
    height: 250px;
}
.image__equipment{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.rent-equipment-descriptions{
}
.equipment__description__title{
    margin-bottom: 30px;
}
.equipment_items>ul>li{
    margin-bottom: 18px;
}




/* News */

.section-news-content{
    display: flex;
    justify-content: space-between;
    height: 242px;
}
.big__row{
    display: flex;
    gap: 30px;
}
.news-image{
    width: 255px;
    height: inherit;
}
.news-content-big{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 255px;
}
.news-title{
    display: flex;
    justify-content: space-between;
}
.news-link{
    text-decoration: underline;
}
.news-content-mini{
    max-width: 255px;
}
.mini__row{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 225px;
    
}
.news-mini-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.news-mini-image{
    width: 128px;
    height: 115px;
}



