@import url("../CSS/fonts.css");
@import url("../CSS/pages.css");
@import url("../CSS/hover.css");

/* Settings Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body, html{
    height: 100%;
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
}
.container{
    width: 1100px;
    margin: 0 auto;
}

/* Settings Main */
.section{
    margin: 150px 0;
}

/* Diffferent Settings */
.image{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.icon{
    width: 50px;
    height: 50px;
}
.icon-but{
    width: 50%;
    height: 50%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 52px;
    border: 2px solid white;
}